Producer/obj/
Producer/bin/
Domain/MicroRabbit.Domain.Core/obj/
/MicroRabbit.Domain.Core/obj
/.vs/
/MicroRabbit.Domain.Core/obj
/MicroRabbit.Domain.Core/bin/Debug/net8.0
/MicroRabbit.Infra.Bus/obj/Debug/net8.0
/MicroRabbit.Infra.Bus/obj
/MicroRabbit.Infra.Bus/bin/Debug/net8.0
/MicroRabbit.Infra.Bus/bin/Debug/net8.0/MicroRabbit.Infra.Bus.deps.json
/MicroRabbit.Infra.IoC/obj/Debug/net8.0
/MicroRabbit.Infra.IoC/obj
*.json
*.dll
/MicroRabbit.Infra.IoC/bin/Debug/net8.0
/MicroRabbit.Banking.Api/obj/Debug/net8.0
/MicroRabbit.Banking.Api/obj
/MicroRabbit.Banking.Application/obj
/MicroRabbit.Banking.Data/obj
/MicroRabbit.Banking.Domain/obj
/MicroRabbit.Banking.Api/bin/Debug/net8.0
