Producer/obj/
Producer/bin/
Domain/MicroRabbit.Domain.Core/obj/
/MicroRabbit.Domain.Core/obj
/.vs/
/MicroRabbit.Domain.Core/obj
/MicroRabbit.Domain.Core/bin/Debug/net8.0
/MicroRabbit.Infra.Bus/obj/Debug/net8.0
/MicroRabbit.Infra.Bus/obj
/MicroRabbit.Infra.Bus/bin/Debug/net8.0
/MicroRabbit.Infra.Bus/bin/Debug/net8.0/MicroRabbit.Infra.Bus.deps.json
/MicroRabbit.Infra.IoC/obj/Debug/net8.0
/MicroRabbit.Infra.IoC/obj
*.json
*.dll
/MicroRabbit.Infra.IoC/bin/Debug/net8.0
/MicroRabbit.Banking.Api/obj/Debug/net8.0
/MicroRabbit.Banking.Api/obj
/MicroRabbit.Banking.Application/obj
/MicroRabbit.Banking.Data/obj
/MicroRabbit.Banking.Domain/obj
/MicroRabbit.Banking.Api/bin/Debug/net8.0
/MicroRabbit.Transfer.Api/bin/Debug/net8.0
/MicroRabbit.Transfer.Api/obj/Debug/net8.0
/MicroRabbit.Transfer.Api/obj
/MicroRabbit.Transfer.Application/bin/Debug/net8.0
/MicroRabbit.Transfer.Application/obj
/MicroRabbit.Transfer.Data/bin/Debug/net8.0
/MicroRabbit.Transfer.Data/obj
/MicroRabbit.Transfer.Domain/obj
/MicroRabbit.Transfer.Domain/bin/Debug/net8.0
/MicroRabbit.Banking.Application/bin/Debug/net8.0/MicroRabbit.Banking.Application.pdb
/MicroRabbit.Banking.Application/bin/Debug/net8.0/MicroRabbit.Banking.Domain.pdb
/MicroRabbit.Banking.Application/bin/Debug/net8.0/MicroRabbit.Domain.Core.pdb
/MicroRabbit.Banking.Data/bin/Debug/net8.0/MicroRabbit.Banking.Data.pdb
/MicroRabbit.Banking.Data/bin/Debug/net8.0/MicroRabbit.Banking.Domain.pdb
/MicroRabbit.Banking.Data/bin/Debug/net8.0/MicroRabbit.Domain.Core.pdb
/MicroRabbit.Banking.Domain/bin/Debug/net8.0/MicroRabbit.Banking.Domain.pdb
/MicroRabbit.Banking.Domain/bin/Debug/net8.0/MicroRabbit.Domain.Core.pdb
